<div class="form-container">
    <div *ngIf="trip">
        <form [formGroup]="modification">
            <div>
                <label for="title">Tytuł:</label>
                <input type="text" id="title" formControlName="title" value="{{trip.tittle}}" />
            </div>
            <div>
                <label for="country">Kraj:</label>
                <input type="text" id="country" formControlName="country" value="{{trip.country}}"/>
            </div>
            <div>
                <label for="date">Od:</label>
                <input type="date" id="date1" formControlName="date1" value="{{trip.startdate}}"/>
            </div>
            <div>
                <label for="title">Do:</label>
                <input type="date" id="date2" formControlName="date2"/>
            </div>
            <div>
                <label for="price">Cena:</label>
                <input type="number" id="price" formControlName="price" min="0" value="{{trip.price}}"/>
            </div>
            <div>
                <label for="places">Miejsca:</label>
                <input type="number" id="places" formControlName="places"  min="0" value="{{trip.places}}"/>
            </div>
            <div>
                <label for="desc">Opis:</label>
                <input type="text" id="desc" formControlName="desc" value="{{trip.description}}"/>
            </div>
            <div>
                <label for="link">Zdjęcie:</label>
                <input type="text" id="link" formControlName="link"  value="{{trip.ImageLink}}"/>
            </div>
            <div *ngIf="error">Wprowadź poprawne dane</div>
            <div *ngIf="ok">Zatwierdzono</div>
            <button type="submit" id="submit" (click)="update()">Aktualizuj</button>
        </form>
    </div>
</div>

