<div class="all">
  <div class="left">
    <app-filtr
      [trips] = "trips"
      [countries]="getCountry(trips)"
      (filtered)="filtrUpdate($event)"
    ></app-filtr>
  </div>
  <div class="container">
    <div class="up" [ngClass]="{
      gr: numberOfTrips() >= 10,
      rd: numberOfTrips() < 10
    }">Aktualna ilość zarezerwowanych miejsc: {{numberOfTrips()}}</div>
    <div
      class="ofer"
      *ngFor="let trip of trips | searchPipe: data"
      [ngClass]="{
        expensive: trip.price == maxPrice(),
        cheap: trip.price == minPrice(),
        last: trip.places - numberofTrip(trip.id) <= 3,
        out: trip.places - numberofTrip(trip.id) <= 0
      }"
    >

    <a routerLink="/trip/{{trip.id}}" class="link">
      <img src="{{ trip.ImageLink }}" class="im"/>
    </a>
    <h1 class="title">{{ trip.tittle | uppercase }}</h1>
    <h2 class="country">{{ trip.country | uppercase }}</h2>
    <p class="date">
      <b> {{ trip.startdate }} </b> do <b>{{ trip.enddate }}</b>
    </p>
    <p class="price">tylko {{ trip.price }} zł</p>
    <p class="places">tylko {{ getTripPlaces(trip) }} miejsc</p>
    <p class="desc">{{ trip.description }}</p>
    <div class="buttoms" *ngIf="canBuy()">
      <div class="plusminus">
        <button class="but holder" *ngIf="getCartValue(trip.id) <= 0" disabled>-</button>
        <button
          class="but minus"
          *ngIf="getCartValue(trip.id) > 0"
          (click)="delFromCart(trip.id)"
        >
          -
        </button>
        <p
          class="tripcart"
        >
          {{ getCartValue(trip.id) }}
        </p>
        <button
          class="but plus"
          *ngIf="getTripPlaces(trip) > 0"
          (click)="add2Cart(trip.id)"
        >
          +
        </button>
        <button class="but holder" *ngIf="trip.places < trip.cart">+</button>
      </div>
        
    </div>
      <div class="dno">
        <div class="srednia" *ngIf="trip.rating > 0">
          <p>średnia ocena:</p>
          <h2>{{ trip.rating | number: "1.0-1" }}</h2>
        </div>
        <div class="srednia" *ngIf="trip.rating == 0">
          <p>Brak ocen.</p>
        </div>
      </div>
    </div>
  </div>
</div>
