<div *ngIf="trip">
    <div class="all">
        <img src="{{trip.ImageLink}}" alt="" srcset="">
        <div class="right">
            <h1>{{trip.tittle}}</h1>
            <h2>{{trip.country}} </h2>
            <h3>{{trip.description}} </h3>
            <h2>Tylko: {{trip.price}} złotych</h2>
            <h3>Zostało {{ trip.places - trip.cart }} miejsc</h3>
            <div class="buttoms">
                <div class="plusminus">
                  <button class="but holder" *ngIf="trip.cart <= 0" disabled>-</button>
                  <button
                    class="but minus"
                    *ngIf="trip.cart > 0"
                    (click)="delFromCart(trip)"
                  >
                    -
                  </button>
                  <p
                    class="tripcart"
                  >
                    {{ trip.cart }}
                  </p>
                  <button
                    class="but plus"
                    *ngIf="trip.places > trip.cart"
                    (click)="add2Cart(trip)"
                  >
                    +
                  </button>
                  <button class="but holder" *ngIf="trip.places < trip.cart">+</button>
                </div>          
            </div>
            <div class="ocena">
                  <datalist id="custom-list">
                    <option value="1"></option>
                    <option value="2"></option>
                    <option value="3"></option>
                    <option value="4"></option>
                    <option value="5"></option>
                  </datalist>
                  <input
                    type="range"
                    min="1"
                    max="5"
                    step="1"
                    oninput="this.style.setProperty('--value', this.value)"
                    list="custom-list"
                    value="1"
                    id="rating"
                    (change)="getSliderValue($event, trip)"
                  />
                  <div class="send" (click)="addrate(trip)">Oceń ({{ trip.rat }})</div>
                  <div class="srednia">
                    <p>średnia ocena:</p>
                    <h2>{{ trip.rating | number: "1.0-1" }}</h2>
                    <p>liczba ocen:</p>
                    <h3>{{ trip.nor }}</h3>
                  </div>
            </div>
        </div>
    </div>

<div class="exit">
    <a routerLink="/trips" class="send">
        sprawdź nasze inne wycieczki    
    </a>
</div>
<div class="opinie">
    <div class="addopinion">
        <h1>Dodaj opinię</h1>
        <form [formGroup]="opinionadd">
            <div>
                <label>Nick:</label>
                <input type="text" formControlName="Nick" />
            </div>
            <div>
                <label>Nazwa wycieczki:</label>
                <input type="text"  formControlName="Name" placeholder="{{trip.tittle}}"/>
            </div>
            <div>
                <label>Twoja opinia:</label>
                <textarea formControlName="opinion" cols="30" rows="10"></textarea>
            </div>
            <div>
                <label>Data wycieczki:</label>
                <input type="date" formControlName="date" />
            </div>
            <div *ngFor="let error of errors">
                {{error}}
            </div>
            <button (click)="addOpinion()" id="submit">Dodaj</button>  
        </form>
    </div>
    <div>
        <div *ngFor="let opinion of opinions" class="opinions">
            <div class="opinia" *ngIf="opinion.Name == trip.tittle">
                <h2>Nick: {{opinion.Nick}}</h2>
                <h2>Nazwa wycieczki: {{opinion.Name}}</h2>
                <h3>Opinia:</h3>
                <h4>{{opinion.opinion}}</h4>
                <h4 *ngIf="opinion.date != '' && opinion.date != null ">Data zakupu: {{opinion.date}}</h4>
            </div>
        </div>
    </div>
</div>
