body{
    background-image: url(https://wallpaperaccess.com/full/1248197.jpg);
    background-size: cover;
    background-blend-mode: saturation;
    margin: 10px;
    padding: 0px;
    min-height: 100vh;
}




