<div class="all">
    <div id="login-form-wrap">
      <h2>Zarejestruj się</h2>
      <form (ngSubmit)="signup(signUpForm.value)" [formGroup]="signUpForm" id="login-form">
        <label for="email">Adres e-mail:</label>
        <input type="email" name="email" formControlName="email">
      
        <label for="password">Hasło:</label>
        <input type="password" name="password" formControlName="password">
      
        <input type="submit" [disabled]="!signUpForm.valid" value="Zarejestruj">
      </form> 
      <div id="create-account-wrap">
          <p>Posiadasz już konto? <a routerLink="/login">Zaloguj się</a><p>
      </div>
    </div>
</div>