.all{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mapouter{
    border: 1px solid black;
}
a{
    text-decoration: none;
    margin-bottom: 20px;
    color: black;
}