<h1>Biuro podróży Ciepła Zima wita!!!</h1>
<h2>Kontakt:</h2>
<h3>Adres: Kawiory 21</h3>
<h3>30-045, Kraków</h3>
<h2>Numer telefonu:</h2>
<a href="tel:+48-xxx-xxx-xxx">+48 XXX XXX XXX</a>
<h2>Gdzie nas znaleźć:</h2>
<div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Centrum%20Informatyki%20AGH,%20D-17&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><a href="https://www.embedgooglemap.net">google maps embedded map</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div>
